# Transport for London API
TFL_API_APP_KEY=your_tfl_api_key_here

# OpenWeatherMap API
WEATHER__API_KEY=your_openweathermap_api_key_here

# Spotify API
SPOTIFY__CLIENT_ID=your_spotify_client_id_here
SPOTIFY__CLIENT_SECRET=your_spotify_client_secret_here
SPOTIFY__REDIRECT_URI=http://127.0.0.1:8888/callback

# Glowmarkt API
GLOWMARKT__USERNAME=your_glowmarkt_email_here
GLOWMARKT__PASSWORD=your_glowmarkt_password_here
