[Unit]
Description=Update pi-dashboard to the newest -stable release
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/pi-dashboard-check-update
